<h1> Data Science Tools and Ecosystem <h1>
    
    
<h2> Author: <h2>
    Tim

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- List popular libraries for Data Science.
- List popular development environment open source tools for Data Science.
- Illustrate examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scikit-learn
3. Seaborn

| Data Science Tools  |
|---------------------|
| Jupyter Notebooks   |
| RStudio             |
| Apache Zeppelin     |

<h3> Below are a few examples of evaluating arithmetic expressions in Python.<h3>

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335